<link rel="stylesheet" href="/css/sign-in-up.css">
<section>
    <div class="container"> 
        <h1><%=title%></h1>
        <p><%=user.email%></p>
        <p>UserCreated:-<%=user.updatedAt%></p>
    </div>
</section>