<link rel="stylesheet" href="/css/sign-in-up.css">
<section>
    <div class="container">
        <h2>
            <%=title%>
        </h2>
        <div>
            <form action="/signin-user" method="post">
                <input type="email" name="email" placeholder="Enter Email" required><br>
                <input type="password" name="password" placeholder="Enter Password" required><br>
                <button type="submit">Signin</button>
            </form>
        </div>
    </div>
</section>